certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
idna==3.4
imageio-ffmpeg==0.4.3
importlib-metadata==6.7.0
ninja==1.11.1.1
numpy==1.21.6
opencv-python==4.8.1.78
Pillow==9.5.0
psutil==5.9.6
pyspng==0.1.1
pytorch-fid==0.3.0
PyYAML==6.0.1
requests==2.31.0
scipy==1.7.3
torch==1.7.1+cu92
torchaudio==0.7.2
torchvision==0.8.2+cu92
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==1.26.6
zipp==3.15.0